        .card, .about-content,  .contact-form, .text , .contact-content , .newsletter-content , .footer-content ,.contact-info {
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.3s ease;
        }

        .card.show, .about-content.show, .show, .contact-form.show, .text.show , .contact-content.show , .newsletter-content.show , .footer-content.show , .contact-info.show {
            opacity: 1;
            transform: translateY(0);
        }

.img , .about-img-spa , .about-img , .about-img-2 , .about-img-sp {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;
}

.img.show ,.about-img-spa.show, .about-img.show, .about-img-2.show ,.about-img-sp.show {
    opacity: 1;
    transform: translateY(0);
    animation: scale-up-hor-left 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-hor-left {  /* Fixed: changed keyframes name */
  0% {
    transform: scaleX(0.4);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
.text ,.text-hero-rooms{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease;
}

.text.show ,.text-hero-rooms.show {
    opacity: 1;
    transform: translateY(0);
}


.text-about{
    opacity: 0;
    transform: translatex(50px);
    transition: all 0.4s ease;
}

.text-about.show {
    opacity: 1;
    transform: translatex(0);
}

.rooms-card , .blog-card{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
}

.rooms-card.show , .blog-card.show {
    opacity: 1;
    transform: translateY(0);
	animation: scale-up-hor-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-hor-center {
  0% {
    transform: scaleX(0.4);
  }
  100% {
    transform: scaleX(1);
  }  
}
.service-card{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease;
}

.service-card.show {
    opacity: 1;
    transform: translateY(0);
	animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-hor-center {
  0% {
    transform: scaleX(0.4);
  }
  100% {
    transform: scaleX(1);
  }  
}
.hr-animate{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease;
}
  .hr-animate.show {
  opacity: 1;
  transform: translateY(0);
	animation: scale-up-hor-left 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0.4);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

.why-choose-container , .cta-content {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease;
}
.why-choose-container.show  , .cta-content.show {
  opacity: 1;
  transform: translateY(0);
	animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0.4);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
    }
.menu-preview{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease;
}
.menu-preview.show {
  opacity: 1;
  transform: translateY(0);
	animation: scale-up-ver-top-2 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-ver-top-2 {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}

.booking-container , .about-hero-content , .contact-hero-content{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
}
.booking-container.show , .about-hero-content.show , .contact-hero-content.show {
  opacity: 1;
  transform: translateY(0);
	animation: tracking-in-contract-bck-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.testimonial-slider , .gallery-section , .comments-section{
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.4s ease;
}
.testimonial-slider.show , .gallery-section.show , .comments-section.show{
  opacity: 1;
  transform: translateX(0);
	animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-ver-center {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}
.booking-form{
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.4s ease;
}
.booking-form.show {
  opacity: 1;
  transform: translateX(0);
	animation: scale-up-ver-top-1 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-ver-top-1 {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
.booking-info{
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.4s ease;
}
.booking-info.show {
  opacity: 1;
  transform: translateX(0);
}

.faq-item{
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.4s ease;
}
.faq-item.show {
  opacity: 1;
  transform: translateX(0);
}
.testimonial-hore   {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease;
}
.testimonial-hore.show {
  opacity: 1;
  transform: translateY(0);
	animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0.4);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
    }
    .service-cards-our   {
    opacity: 0;
    transform: translateY(0px);
    transition: all 0.4s ease;
}
    .service-cards-our.show {
        opacity: 1;
  transform: translateY(0);
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

    .navbar   {
    opacity: 0;
    transform: translateY(0px);
    transition: all 0.4s ease;
}
    .navbar.show {
        opacity: 1;
  transform: translateY(0);
-webkit-animation: scale-up-ver-top 0.4s linear reverse both;
	animation: scale-up-ver-top 0.4s linear reverse both;
}
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1.4);
            transform: scaleY(1.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}



